#background {
  width: 100%; 
  height: 100%; 
  position: fixed; 
  left: 0px; 
  top: 0px; 
  z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
  background-color: lightblue;
}
.stretch {
  width:100%;
  height:45%;
}

#title {
  font-weight: 100;

}

.backimg {
  width:100%;
  height:100%
}

#mytest {
  text-align: center;
}

.box {
  display: inline-block;
} 

#mainArea {
  background-color: #9CAF88;
}